<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="RentAgencyWeb" version="3.0">
	<context-param>
	    <param-name>spring.profiles.default</param-name>
	    <param-value>local</param-value>
	</context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>com.balkovskyy.rentagency.config.AppConfig</param-value>
    </context-param>
    
    <!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
    <context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
    
    <servlet>
        <servlet-name>rentAgencyAPI</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- Configure DispatcherServlet to use JavaConfigWebApplicationContext
             instead of the default XmlWebApplicationContext -->
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                com.balkovskyy.rentagency.config.WebConfig
            </param-value>
        </init-param>
 		<load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>rentAgencyAPI</servlet-name>
    	<url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- filter>
	   <filter-name>springSecurityFilterChain</filter-name>
	   <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>springSecurityFilterChain</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>
     -->
</web-app>